<div class="sidebar text-white">
    <button class="btn btn-dark d-md-none close-btn" onclick="toggleSidebar()">
        &times;
    </button>
    <div class="sidebar-header p-3">
        <a class="nav-link text-white" href="/branches">
            <h3><strong>Office Tree</strong></h3>
        </a>
    </div>
    <ul class="nav flex-column">
      <li class="nav-item">
        <a class="nav-link text-white <%= activePage === 'branches' ? 'active' : '' %>" href="/branches">
          Офисы
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white <%= activePage === 'positions' ? 'active' : '' %>" href="/positions">
          Должности
        </a>
      </li>
      <li class="nav-item">
        <a class="nav-link text-white <%= activePage === 'reports' ? 'active ' : '' %>" href="/reports">
          Отчеты и справки
        </a>
      </li>
    <hr>
    <li class="nav-item">
        <a class="nav-link text-white <%= activePage === 'settings' ? 'active' : '' %>" href="/settings">
          Настройки
        </a>
      </li>
    </ul>
</div>